# Android
*.iml
.gradle/
local.properties
.idea/
build/
captures/
.externalNativeBuild/
.cxx/
*.keystore
!debug.keystore
keystore.properties

release/

# iOS
*.xcuserstate
xcuserdata/
DerivedData/
*.ipa
Pods/
.DS_Store
__MACOSX/

# Zips
*.zip

# Impostazioni locali di Claude Code
**/.claude/settings.local.json
